<% title "Artist" %>

<p>
  <strong>Name:</strong>
  <%=h @artist.name %>
</p>

<p>
  <strong>Albums:</strong>
  <ul>
    <% @artist.albums.each do |album | %>
    <li><%= image_tag(album.artwork.url(:thumbnail))%><%= album.title %> (<%= album.year%>) in <%= album.quality %> condition ($<%= album.get_price %>)</li>
    <% end %>    
  </ul>
</p>

<p>
  <%= link_to "Edit", edit_artist_path(@artist) %> |
  <%= link_to "Destroy", @artist, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", artists_path %>
</p>
